
@{
    ViewData["Title"] = "AboutMe";
}


<div class="card container" style="position:flex:center;">
    <h1 class="text-center" style="accent-color:auto; position:center">Информация обо мне:</h1>
    <ul class="list-group" style="ruby-position:under">
        <li class="list-group-item-primary">
            <h2>Образование: 3 курс РТУ МИРЭА</h2>
        </li>
    </ul>
</div>
        

