@using Grocery.Domain.Models
@using Grocery.Domain.Response
@using Grocery.Domain.ViewModels.Item
@model Item
@{
    ViewData["Title"] = "GetItem";
}

<h1>GetItem</h1>
<p> @Model.Name - @Model.Description</p>

